registry=https://registry.npmjs.org/
strict-ssl=false
maxsockets=3
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
audit=false
fund=false
legacy-peer-deps=true
progress=true
# removed deprecated cache options